@model SalesOrdersProject.Models.Product

<div id="productImageAndText">
    <div style="display: inline-block">
        <div id="productImageDiv">
            <img src="@Url.Content(Model.ProductImage)"
                 width="250"
                 height="180"
                 alt="@Model.ProductName"
                 title="@Model.ProductName" 
                 style="border: solid;
                        border-width: .5em;"
            />
        </div>

        <div id="productStyle" class="responsive-width">
            <h3>@Html.DisplayFor(modelModel => Model.ProductName)</h3>

            <p id="productDescShort">@Html.DisplayFor(modelModel => Model.ProductDescShort)</p>

            <p>$@Html.DisplayFor(modelModel => Model.ProductPrice)</p>

            <p>@Html.DisplayFor(modelModel => Model.ProductQty) in stock</p>

            <p>
                @Html.ActionLink("More Info", "Index", "ItemDetails",
                             new { id = Model.ProductID }, new { id = "ProductID" })
            </p>
        </div>
    </div>
</div>